<h2>fedoraManager2 Alpha</h2>

<p>Current pages</p>
<ul>
	<li><strong>Task Running</strong></li>
	<ul>
		<li><a href="/quickAdd/100">quickAdd - default 100 tasks</a></li>
		<li><a href="/longAdd/100">longAdd - default 100 tasks</a></li>
	</ul>
	<li><strong>PID Selection</strong></li>
	<ul>
		<li><a href="/PIDselection">PIDselection - default to user "Goober", 3 inputs</a></li>
		<li><a href="/PIDcheck/Goober/1">PIDcheck - default to user "Goober", page 1 of results</a></li>
	</ul>
	<!-- <li><strong>Status</strong></li>
	<ul>
		<li><a href="/PIDselection/Goober">PIDselection - default to user "Goober", 3 inputs</a></li>
		<li><a href="/PIDcheck/Goober">PIDcheck - default to user "Goober"</a></li>
	</ul> -->



</ul>