{% include 'header.html' %}

<h3>Solr Query & Select</h3>

<form method="POST" action="/PIDSolr">
    {{ form.csrf_token }}    
    {{ form.q.label }} {{ form.q(size=60) }}<br>
    {{ form.fq.label }} {{ form.fq(size=60) }}<br>
    {{ form.fl.label }} {{ form.fl(size=60) }}<br>    
    <input type="submit" value="Go">
</form>

{% if q_results %}
<table id="PIDtable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>linkTitle</th>
            <th>linkURL</th>            
        </tr>
    </thead>    
    <tbody>
   		{% for PID in q_results.documents %}
   		<tr>
			<td>{{PID.linkTitle}}</td>
			<td>{{PID.linkURL}}</td>			
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}


<script type="text/javascript" src="{{ url_for('static',filename='PIDSolr.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        paintTable("{{username}}");
    });    
</script>

{% include 'footer.html' %}
