{% include 'header.html' %}

<!-- test js load -->

<!-- <script type="text/javascript" src="/static/PIDmanage.js"></script> -->

<h1>Welcome <span style="color:green;">{{username}}</span>, the PIDs you have requested!</h1>
<h2>Pid Actions</h2>
<ul>
    <li><a href="/PIDmanageAction/s_all">Select All</a></li>
    <li><a href="/PIDmanageAction/s_toggle">Toggle All</a></li>    
    <li><a href="/PIDmanageAction/s_none">Select None</a></li>
    <li><a href="/PIDmanageAction/s_del">Delete Selected</a></li>
</ul>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>            
            <th>id</th>
            <th>PID</th>
            <th>username</th>    
            <th>status</th>       
        </tr>
    </thead>
    <!-- <tfoot>
        <tr>
            <th>id</th>
            <th>PID</th>
            <th>username</th>           
        </tr>
    </tfoot>  -->   
</table>


<script type="text/javascript" src="{{ url_for('static',filename='PIDmanage.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        paintTable("{{username}}");
    });    
</script>
{% include 'footer.html' %}