<!-- User Page -->
<h1>Welcome {{userData.username}}, great fm2 bounty awaits!</h1>
<p><span style="color:green;">*username "{{userData.username}}" set to session</span></p>
<ul>
	<li><strong>Runs testing tasks based on selected PIDs</strong></li>
	<ul>		
		<li><a href="/fireTask/sampleTask">fireTask Initiator, defaulted to "simpleTask"</a></li>
		<li><a href="/fireTask/sampleFastTask">fireTask Initiator, defaulted to "simple<strong>Fast</strong>Task"</a></li>
	</ul>
	<li><strong>PID Selection</strong></li>
	<ul>
		<li><a href="/PIDselectionSQL">PIDselection for {{userData.username}}</a></li>
		<li><a href="/PIDmanage">PIDmanage</a></li>
	</ul>
	<li><strong>User Jobs</strong></li>
	<ul>
		<li><a href="/userJobs">User Jobs</a></li>
	</ul>
</ul>
{% include 'footer.html' %}